.homeSearchBarField{
    padding: 0 1rem;
    /* background-color: gainsboro; */
}

.homeSearchBarField_row1{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.homeSearchBarField_row1_radios{
    display: flex;
    gap: 1rem;
}

.homeSearchBarField_row2{
    display: flex;
}

.homeSearchBarField_row2_inputDiv{
    height: 50px;
    flex: 1;
}

.homeSearchBarField_row2_inputDiv label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.homeSearchBarField_row2_inputDiv span.label{
    text-transform: uppercase;
    font-weight: bold;
    color: #4b5563;
    font-size: 0.8rem;
}

.homeSearchBarField_row2_inputDiv input{
    border: none;
    background-color: transparent;
    font-size: inherit;
    padding: 0.5rem 0;
}