.homeSearchBar{
    padding: 0 var(--side-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}

.homeSearchBar .logo{
    width: 200px;
    height: 50px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.homeSearchBar_login{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.homeSearchBar_loginList{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.homeSearchBar_loginBtn{
    cursor: pointer;
    font-weight: bold;
}

.homeSearchBar_formDiv{
    margin: 4rem 0 3rem 0;
    position: relative;
}

.homeSearchBar_form{
    padding: 3rem 0 3rem 0;
    background-color: white;
    border-radius: 1rem;
    position: relative;
}

.homeSearchBar_searchButton{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.homeSearchBar_menuItemsdiv{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 10px 0px grey;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
    .homeSearchBar .logo{
        width: 120px;
        height: 40px;
    }
}