.hotelPage{
    position: relative;
}

.hotelPage_div{
    display: flex;
    margin: 2rem var(--side-margin);
    gap: 2rem;
    min-height: cal(100vh - 150px);
    position: relative;
}

.hotelPage_div h1{
    margin: 0 0 1rem 0;
}

.hotelPage_imageDiv{
    min-width: 400px;
    flex: 1;
    cursor: pointer;
}
.hotelPage_imageDiv > img{
    width: 100%;
}

.hotelPage_contentDiv{
    flex: 1.25;   
}

.hotelPage_bookButton{
    cursor: pointer;
    background-color: #1e3a8a;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem;
    border: none;
}

.hotelPage_bookButton:hover {
    background-color: #1d4ed8;
}

.hotelPage_ratings{
    font-size: 1.25rem;
    font-weight: bold;
}

.hotelPage_totalPrice{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.hotelPage_rentPrice{
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
    .hotelPage_div{
        flex-direction: column;
    }
}