.homeSearchBarField{
    padding: 0 1rem;
    /* background-color: gainsboro; */
}

.homeSearchBarField_row1{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.homeSearchBarField_row1_radios{
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #9ca3af;
}

.homeSearchBarField_row2{
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 0.5rem;
    /* height: 100px; */
    flex-wrap: wrap;
}

.homeSearchBarField_row2_inputDiv{
    padding: 0.5rem 0;
    /* height: 60px; */
    flex: 1;
    border-right: 1px solid gainsboro;
}

.homeSearchBarField_row2_optionsDiv{
    width: 80%;
}

.homeSearchBarField_row2_optionsDiv ul{
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid #e5e7eb;
}

.homeSearchBarField_row2_optionsDiv li{
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    text-transform: capitalize;
}


.homeSearchBarField_row2_optionsDiv a{
    color: inherit;
}

.homeSearchBarField_row2_optionsDiv li:hover{
    background-color: #e5e7eb;
}

.homeSearchBarField_row2_inputDiv:last-child{
    border-right: none;
}

.homeSearchBarField_row2_inputDiv:hover{
    background-color: #eff6ff;
}

.homeSearchBarField_row2_inputDiv label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
}

.homeSearchBarField_row2_inputDiv span.label{
    text-transform: uppercase;
    font-weight: bold;
    color: #4b5563;
    font-size: 0.8rem;
}

.homeSearchBarField_row2_inputDiv input{
    border: none;
    background-color: transparent;
    font-size: inherit;
    padding: 0.5rem 0;
}