.nav{
    position: sticky;
    top: 0;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav_loginList{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav_loginItem{
    
}