.hotelsListPanel{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.hotelsListPanel a{
    color: inherit;
}

.hotelsListPanel_searching{
    margin: 2rem;
    font-size: 2rem;
}