.hotelsPage{
    margin: 1rem var(--side-margin);
    display: flex;
    position: relative;
    gap: 1rem
}


.hotelsPage_filtersPanel{
    position: sticky;
    top: 1rem;
    min-width: 250px;
    height: fit-content;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #1e3a8a;
    color: white;
    border-radius: 0.5rem;
    transform: translateX(0%);
    transition: transform 0.3s;
}

.hotelsPage_sortingFilters{
    position: absolute;
    right: 0rem;
    transform: translateX(100%);
    color: black;
    width: 100px;
    padding-left: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 0.8rem;
    display: none;
    cursor: pointer;
    font-weight: bold;
}

.hotelsPage h3{
    margin: 0;
}

.sort label{
    display: flex;
    justify-content: space-between;
}

.hotelsPage_sortLabel{
    font-weight: bold;
    margin-right: 0.5rem;
}

.hotelsPage select{
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.hotelsPage_filterItem{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hotelsPage_filterHeading{
    font-weight: bold;
}

.hotelsPage_filterOptions{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hotelsPage_clearFiltersButton{
    padding: 0.5rem;
    cursor: pointer;
    font-size: inherit;
}

@media screen and (max-width: 800px) {
    .hotelsPage_filtersPanel{
        position: fixed;
        top: 4rem;
        transform: translateX(-110%)
    }
    .hotelsPage_sortingFilters{
        display: block;
    }
}